.cursor {
	width: 2.2rem;
	height: 2.2rem;
	z-index: 9;
	border: 2px solid $theme;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	background: transparent;
	opacity: 1;
	transition: 50ms;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 8px;
		height: 8px;
		border: 2px solid $theme;
		border-radius: 50%;
	}
}
@media screen and (max-width: 600px) {
	.cursor {
		display: none;
	}
}