.header {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #202020, #000000);
    position: relative;
    .bigtext {
        min-height: calc(100vh - 80px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
        div {
            margin-left: 200px;
            h1 {
                font-size: 10rem;
                padding: 30px 0;
                color: $white;
                text-shadow: 
                    -0.0075em 0.0075em 0 mix($white, #a8a8a8, 94%),
                    0.005em 0.005em 0 mix($white, #a8a8a8, 60%),
                    0.01em 0.01em 0 mix($white, #a8a8a8, 62%), 
                    0.015em 0.015em mix($white, #a8a8a8, 64%), 
                    0.02em 0.02em 0 mix($white, #a8a8a8, 66%), 
                    0.025em 0.025em 0 mix($white, #a8a8a8, 68%),
                    0.03em 0.03em 0 mix($white, #a8a8a8, 70%),
                    0.035em 0.035em 0 mix($white, #a8a8a8, 72%);
                transition: 125ms;
                .name {
                    font-weight: bold;
                    color: #ff6a00;
                    text-shadow: 
                        -0.0075em 0.0075em 0 mix($white, #ff9100, 94%),
                        0.005em 0.005em 0 mix($white, #ff9100, 60%),
                        0.01em 0.01em 0 mix($white, #ff9100, 62%), 
                        0.015em 0.015em mix($white, #ff9100, 64%), 
                        0.02em 0.02em 0 mix(#f00, #ff9100, 66%), 
                        0.025em 0.025em 0 mix(#f00, #ff9100, 68%),
                        0.03em 0.03em 0 mix(#f00, #ff9100, 70%),
                        0.035em 0.035em 0 mix(#f00, #ff9100, 72%);
                }
            }
            .text {
                color:rgb(209, 209, 209);
                font-style: italic;
                font-size: 20px;
                margin-bottom: 40px;
            }
        }
        .headerimg {
            text-align: center;
            width: auto;
            max-width: 400px;
        }
    }
    .circle {
        position: absolute;
        top: 30%;
        left: -75px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: #ff6a0069;
        .chota-circle {
            top: 0px;
            right: 0px;
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ff6a0069;
            &:hover {
                background: #ff6a00;
            }
        }
        &:hover {
            background: #ff6a00;
        }
    }
}
@media screen and (max-width: 1000px) {
    .header {
        .bigtext {
            div {
                margin-left: 150px;
                h1 {
                    font-size: 6rem;
                }
            }
            
        }
    }
}
@media screen and (max-width: 800px) {
    .header {
        .bigtext {
            grid-template-columns: 1fr;
            div {
                margin-left: 0;
                h1 {
                    text-align: center;
                    font-size: 5rem;
                }
                .text {
                    padding: 20px;
                }
            }
            .headerimg {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .header {
        .bigtext {
            h1 {
                font-size: 3rem;
            }
        }
    }
}