#view {
    padding:120px 0;
    max-width: 100%;
    background-attachment: fixed;
    .container {
        margin: auto;
        display: grid;
        grid-gap: 20px;
        @include padding(2);
        grid-template-columns: 1fr 2fr;
        place-items: center;
        .pic {
            position: relative;
            img {
                width: 250px;
                height: 250px;
                border-radius: 50%;
            }
        }
        .desc {
            padding: 20px;
            p {
                @include fontsize(2.2);
                color: $white;
                line-height: 1.5;
                opacity: 0.9;
                letter-spacing: 0.5px;
                position: relative;
                &::before {
                    content: open-quote;
                    position: absolute;
                    top: -20px;
                    left: -20px;
                    color: $theme;
                    @include fontsize(8);
                    opacity: 0.4;
                    line-height: 1;
                }
                span {
                    color: $theme;
                    font-weight: 700;
                }
            }
        }
        .btn {
            margin-top: 40px;
        }
    }
}
@media screen and (max-width: 992px) {
    #view {
        padding: 60px 0;
        .container {
            grid-template-columns: 1fr;
            grid-gap: 12px;
            .pic img {
                width: 200px;
                height: 200px;
            }
            .desc {
                padding: 12px 24px;
                text-align: justify;
            }
        }
    }
}