#view {
    padding:120px 0;
    background: $black;
    max-width: 100%;
    .foralignment {
        max-width:  1400px;
        margin: auto;
        display: grid;
        grid-gap: 20px;
        @include padding(2);
        grid-template-columns: 1fr 2fr;
        place-items: center;
        .pic {
            position: relative;
            img {
                width: 250px;
                height: 250px;
                border-radius: 50%;
            }
        }
        .desc {
            
            padding: 20px;
            position: relative;
            p {
                @include fontsize(2.2);
                color: $white;
                line-height: 1.5;
                opacity: 0.9;
                letter-spacing: 0.5px;
                span {
                    color: $theme;
                    font-weight: 700;
                }
            }
            &::before {
                content: open-quote;
                position: absolute;
                top: 0;
                left: 0;
                color: $theme;
                @include fontsize(4);
                opacity: 0.4;
            }
        }
    }
}
@media screen and (max-width: 992px) {
    #view {
        padding: 60px 0;
        .foralignment {
            grid-template-columns: 1fr;
            grid-gap: 12px;
            .pic img {
                width: 200px;
                height: 200px;
            }
            .desc {
                padding: 12px 24px;
                text-align: justify;
            }
        }
    }
}