.projects {
    position: relative;
    .title {
        text-align: center;
        margin-bottom: 32px;
        color: $white;
    }
}


.projectcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    margin-top: 20px;
    .project {
        @include padding(1.5);
        line-height: 1;
        color: $black;
        background: $white;
        box-shadow: 0 10px 20px rgba(0,0,0,0.15);
        transition: 0.1s;
        .img {
            width: 100%;
        }
        .projecttitlecontainer {
            margin-top: 12px;
            @include flexaligncenter;
            justify-content: space-between;
            .projecttitle {
                a {
                    color: #333;
                    text-decoration: none;
                }
                &:hover {
                    text-decoration: underline;
                    &:after {
                        content: "🔗";
                    }
                }
            }
            .projecttitle+a {
                @include fontsize(2.5);
                color: rgba(0,0,0,0.3);
                svg {
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }
        }
        
        .tags {
            margin-top:12px;
            .tag {
                padding: 8px 12px;
                display: inline-block;
                margin: 4px;
                border-radius: 4px;
                color: #fff;
                background: $theme;
            }
        }
        &:hover {
            box-shadow: 0 15px 20px rgba(245, 245, 245, 0.2);
        }
    }
}