* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.title {
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgba(0, 141, 223, 0.5);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.cursor {
  width: 2.2rem;
  height: 2.2rem;
  z-index: 9;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  background: #fff;
  opacity: 0.4;
  -webkit-transition: 125ms;
  transition: 125ms;
}

.cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 10rem;
  padding: 30px 0;
  color: #fff;
  -webkit-transition: 125ms;
  transition: 125ms;
}

.header h1 .name {
  font-weight: bold;
  color: #008ddf;
}

.header .text {
  color: #cccccc;
  font-size: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .header h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .header .bigtext {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .bigtext div {
    margin-left: 0;
  }
  .header .bigtext div h1 {
    text-align: center;
    font-size: 5rem;
  }
  .header .bigtext div .text {
    padding: 20px;
  }
  .header .bigtext .headerimg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header .bigtext h1 {
    font-size: 3rem;
  }
}

.profile {
  padding: 60px 0;
  background: #000;
}

.profile .foralignment {
  max-width: 1000px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
}

.profile .foralignment .pic {
  position: relative;
}

.profile .foralignment .pic img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 50%;
}

.profile .foralignment .desc {
  color: #fff;
  padding: 20px;
  font-size: 1.2em;
  position: relative;
}

.profile .foralignment .desc strong {
  color: #008ddf;
}

.profile .foralignment .desc .cv {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 32px;
  background: #1556ad;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

.profile .foralignment .desc .social {
  margin-top: 20px;
  list-style: none;
}

.profile .foralignment .desc .social .sociallink {
  display: inline-block;
  margin: 6px;
}

.profile .foralignment .desc .social .sociallink a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.profile .foralignment .desc .social .sociallink a:hover {
  color: #1556ad;
}

.profile .foralignment .desc::first-letter {
  font-size: 2em;
}

.profile .foralignment .desc::before {
  content: open-quote;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3em;
  opacity: 0.4;
}

.profile .foralignment .desc .backgrd {
  position: absolute;
  top: -120px;
  right: 40px;
  height: 200px;
  width: 100px;
  background: radial-gradient(#ff880040 25%, transparent 25%);
  background-size: 10px 10px;
  background-repeat: repeat;
  z-index: 1;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.profile .foralignment .desc .backgrd:hover {
  background-size: 20px 20px;
}

@media screen and (max-width: 800px) {
  .profile {
    padding: 40px 0;
  }
  .profile .foralignment {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .profile .foralignment .desc {
    padding: 20px 60px;
  }
}

.skills {
  max-width: 800px;
  margin: auto;
  padding: 40px 0;
}

.skills .skilltitle {
  color: #000;
  font-size: 2em;
}

.skills .language, .skills .tools {
  margin-top: 20px;
}

.skills .language h2, .skills .tools h2 {
  font-weight: 400;
}

.skills .language .group, .skills .tools .group {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.skills .language .group .sec, .skills .tools .group .sec {
  font-size: 1.2em;
  padding: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.skills .language .group .sec:hover, .skills .tools .group .sec:hover {
  border: 1px solid #f0f0f0;
  background: #e5f0ff;
}

.skills .language .group .sec:hover svg, .skills .language .group .sec:hover img, .skills .tools .group .sec:hover svg, .skills .tools .group .sec:hover img {
  right: 30px;
  opacity: 0.6;
  -webkit-transform: scale(2) translate(0, -60%);
          transform: scale(2) translate(0, -60%);
}

.skills .language .group .sec:hover .libs .lib, .skills .tools .group .sec:hover .libs .lib {
  color: #1f1f1f;
}

.skills .language .group .sec svg, .skills .language .group .sec img, .skills .tools .group .sec svg, .skills .tools .group .sec img {
  position: absolute;
  z-index: 0;
  width: 30px;
  top: 50%;
  right: -4px;
  opacity: 0.7;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: 2em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.skills .language .group .sec .libs, .skills .tools .group .sec .libs {
  list-style: none;
}

.skills .language .group .sec .libs .lib, .skills .tools .group .sec .libs .lib {
  color: #888;
  padding: 2px 14px;
  font-size: 0.9em;
  position: relative;
}

.skills .language .group .sec .libs .lib::before, .skills .tools .group .sec .libs .lib::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 12px;
  left: 2px;
  background: silver;
}

.skills .language .group .sec .libs .lib::after, .skills .tools .group .sec .libs .lib::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  top: -4px;
  left: 2px;
  background: silver;
}

@media screen and (max-width: 800px) {
  .skills {
    padding: 40px 20px;
  }
}

.contact {
  padding: 40px 0;
  background: #000;
  color: #fff;
}

.contact .contactgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 60%;
  margin: auto;
  z-index: 2;
}

.contact .contactgrid .formarea {
  margin-top: 20px;
}

.contact .contactgrid .formarea .form {
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.contact .contactgrid .formarea .form .formtitle {
  margin-bottom: 40px;
}

.contact .contactgrid .formarea .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.contact .contactgrid .formarea .form .form-group label {
  color: #555;
  font-size: 14px;
}

.contact .contactgrid .formarea .form .form-group .text {
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: #424242;
  border: none;
  outline: none;
  margin-top: 2px;
  color: #fff;
  caret-color: #1556ad;
}

.contact .contactgrid .formarea .form .form-group .text:hover, .contact .contactgrid .formarea .form .form-group .text:focus, .contact .contactgrid .formarea .form .form-group .text:active {
  -webkit-box-shadow: 0 0 5px #1556ad;
          box-shadow: 0 0 5px #1556ad;
}

.contact .contactgrid .formarea .form .form-group .message {
  padding: 8px 12px;
  outline: none;
  background: #424242;
  border: 2px solid #424242;
  color: #fff;
  resize: none;
  caret-color: #1556ad;
}

.contact .contactgrid .formarea .form .form-group .message:hover, .contact .contactgrid .formarea .form .form-group .message:focus, .contact .contactgrid .formarea .form .form-group .message:active {
  -webkit-box-shadow: 0 0 5px #1556ad;
          box-shadow: 0 0 5px #1556ad;
}

.contact .contactgrid .formarea .form .submit {
  padding: 8px 32px;
  border: none;
  background: #1556ad;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  position: relative;
  top: 0;
  left: 0;
  text-transform: uppercase;
  -webkit-box-shadow: 0 6px rgba(21, 86, 173, 0.5);
          box-shadow: 0 6px rgba(21, 86, 173, 0.5);
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.contact .contactgrid .formarea .form .submit:hover {
  top: 3px;
  left: 0;
  -webkit-box-shadow: 0 3px rgba(21, 86, 173, 0.5), 0 5px 10px rgba(21, 86, 173, 0.5);
          box-shadow: 0 3px rgba(21, 86, 173, 0.5), 0 5px 10px rgba(21, 86, 173, 0.5);
}

.contact .contactgrid .formarea .form .submit:active {
  top: 6px;
  -webkit-box-shadow: 0 0 rgba(21, 86, 173, 0.5), 0 5px 10px rgba(21, 86, 173, 0.5);
          box-shadow: 0 0 rgba(21, 86, 173, 0.5), 0 5px 10px rgba(21, 86, 173, 0.5);
}

.contact .contactgrid .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
}

.contact .contactgrid .details h2 {
  margin-bottom: 20px;
}

.contact .contactgrid .details a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.contact .contactgrid .details a svg {
  color: #1556ad;
}

.contact .contactgrid .details .jdk {
  margin-top: 40px;
  width: 120px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background: #1556ad;
  color: #fff;
  letter-spacing: 2px;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .contact .contactgrid {
    width: 80%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contactgrid .formarea .form {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .contact .contactgrid {
    width: 100%;
  }
  .contact .contactgrid .formarea .form {
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .contact .contactgrid .details .jdk {
    display: none;
  }
}

.scrolldown {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 2px solid #000;
  z-index: 5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scrolldown:hover {
  background: #1556ad;
  color: #fff;
  border: 2px solid #fff;
}

.projects {
  width: 1000px;
  margin: 80px auto;
}

.projects .project {
  margin: 120px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  place-items: center;
}

.projects .project .imgblock {
  text-align: center;
}

.projects .project .imgblock img {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.projects .project .description {
  padding: 20px;
}

.projects .project .description .projtitle {
  font-size: 1.8em;
}

.projects .project .description .text {
  margin-top: 20px;
}

.projects .project .description .langs {
  list-style: none;
  margin-top: 20px;
}

.projects .project .description .langs .lang {
  display: inline-block;
  margin-right: 12px;
  font-size: 14px;
  background: #000;
  padding: 8px 12px;
  color: #fff;
}

.projects .project .description .langs .lang .link {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .projects {
    max-width: 800px;
    width: 100%;
  }
  .projects .sectitle {
    padding: 0 40px;
  }
  .projects .project {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 40px 0;
  }
  .projects .project .description {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    margin: auto;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .projects .sectitle {
    padding: 0 20px;
  }
  .projects .imgblock img {
    width: 90%;
  }
  .projects .project {
    margin: 40px 0;
  }
  .projects .project .description .text, .projects .project .description .langs {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=index.css.map */