* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: #ff9a00;
     -moz-user-select: #ff9a00;
      -ms-user-select: #ff9a00;
          user-select: #ff9a00;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.title {
  position: relative;
}

.title::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: -5px;
  left: 0;
  background-color: #ff9100;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.title:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: whitesmoke;
  padding: 50px 0;
}

.card-wrapper .card {
  background: #1e242e;
  color: #fff;
  width: 450px;
  height: 400px;
  margin: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: spin 0.75s ease-in;
          animation: spin 0.75s ease-in;
}

.card-wrapper .card *:not(.coverimg) {
  -webkit-transform: translateZ(30px);
          transform: translateZ(30px);
}

.card-wrapper .card .coverimg {
  background-size: cover;
  background-position: left center;
  width: 100%;
  height: 100px;
  position: relative;
}

.card-wrapper .card .coverimg .card-image {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 50%;
  border: 5px solid #fff;
}

.card-wrapper .card .title {
  margin-top: 70px;
}

.card-wrapper .card .contact {
  background: -webkit-gradient(linear, left top, right top, from(#ee0979), to(#ff6a00));
  background: linear-gradient(to right, #ee0979, #ff6a00);
  padding: 10px 30px;
  border: none;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.card-wrapper .card .social {
  list-style: none;
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card-wrapper .card .social .list-item {
  border: 3px solid #ff6a00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 125ms ease-in-out;
  transition: 125ms ease-in-out;
}

.card-wrapper .card .social .list-item .link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}

.card-wrapper .card .social .facebook:hover {
  outline: none;
  border: 3px solid #ee0979;
  -webkit-box-shadow: 0 0 50px 50px #ee0979 inset;
          box-shadow: 0 0 50px 50px #ee0979 inset;
}

.card-wrapper .card .social .twitter:hover {
  border: 3px solid #f53246;
  -webkit-box-shadow: 0 0 50px 50px #f53246 inset;
          box-shadow: 0 0 50px 50px #f53246 inset;
}

.card-wrapper .card .social .instagram:hover {
  border: 3px solid #fa4b27;
  -webkit-box-shadow: 0 0 50px 50px #fa4b27 inset;
          box-shadow: 0 0 50px 50px #fa4b27 inset;
}

.card-wrapper .card .social .linkedin:hover {
  outline: none;
  -webkit-box-shadow: 0 0 50px 50px #ff6a00 inset;
          box-shadow: 0 0 50px 50px #ff6a00 inset;
}

.card-wrapper .btmarrow {
  margin-top: 80px;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  line-height: 48px;
  text-decoration: none;
  color: #000;
  border: 3px solid #000;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-wrapper .btmarrow:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 50px 50px #000 inset, 0 0 10px #000;
          box-shadow: 0 0 50px 50px #000 inset, 0 0 10px #000;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0.25turn);
            transform: rotateY(0.25turn);
    margin-bottom: 100px;
    opacity: 0.7;
  }
  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    margin-bottom: 0;
    opacity: 1;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0.25turn);
            transform: rotateY(0.25turn);
    margin-bottom: 100px;
    opacity: 0.7;
  }
  to {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    margin-bottom: 0;
    opacity: 1;
  }
}

.cursor {
  width: 2.2rem;
  height: 2.2rem;
  z-index: 9;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  background: white;
  opacity: 0.4;
  -webkit-transition: 125ms;
  transition: 125ms;
}

.cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3px;
  height: 3px;
  background-color: #000;
  border-radius: 50%;
}

.scrolldown {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border: 2px solid #000;
  z-index: 5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.scrolldown:hover {
  background: #ff9a00;
}

.header {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#232526), to(#000000));
  background: linear-gradient(to bottom right, #232526, #000000);
  position: relative;
}

.header .nav-links {
  text-align: center;
  padding: 12px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .nav-links a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .nav-links a:hover {
  color: #fff;
  background: #000;
}

.header .nav-links .menubtn {
  display: none;
}

.header .nav-links:hover {
  background: #ff6a00;
}

.header .bigtext {
  min-height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  place-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header .bigtext div {
  margin-left: 200px;
}

.header .bigtext div h1 {
  font-size: 10rem;
  padding: 30px 0;
  color: #fff;
  text-shadow: -0.0075em 0.0075em 0 #fafafa, 0.005em 0.005em 0 gainsboro, 0.01em 0.01em 0 #dedede, 0.015em 0.015em #e0e0e0, 0.02em 0.02em 0 #e1e1e1, 0.025em 0.025em 0 #e3e3e3, 0.03em 0.03em 0 #e5e5e5, 0.035em 0.035em 0 #e7e7e7;
  -webkit-transition: 125ms;
  transition: 125ms;
}

.header .bigtext div h1 .name {
  font-weight: bold;
  color: #ff6a00;
  text-shadow: -0.0075em 0.0075em 0 #fff8f0, 0.005em 0.005em 0 #ffd399, 0.01em 0.01em 0 #ffd59e, 0.015em 0.015em #ffd7a3, 0.02em 0.02em 0 #ff3100, 0.025em 0.025em 0 #ff2e00, 0.03em 0.03em 0 #ff2c00, 0.035em 0.035em 0 #ff2900;
}

.header .bigtext div .text {
  color: #abc;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 40px;
}

.header .bigtext .headerimg {
  text-align: center;
  width: auto;
  max-width: 400px;
}

.header .circle {
  position: absolute;
  top: 30%;
  left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #ff6a0069;
}

.header .circle .chota-circle {
  top: 0px;
  right: 0px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff6a0069;
}

.header .circle .chota-circle:hover {
  background: #ff6a00;
}

.header .circle:hover {
  background: #ff6a00;
}

@media screen and (max-width: 1000px) {
  .header .bigtext div {
    margin-left: 150px;
  }
  .header .bigtext div h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .header .bigtext {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .header .bigtext div {
    margin-left: 0;
  }
  .header .bigtext div h1 {
    text-align: center;
    font-size: 5rem;
  }
  .header .bigtext .headerimg {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header .bigtext h1 {
    font-size: 3rem;
  }
}

.skills {
  max-width: 800px;
  margin: auto;
  padding: 40px 0;
}

.skills .skilltitle {
  color: #000;
  font-size: 2em;
}

.skills .language, .skills .tools {
  margin-top: 20px;
}

.skills .language h2, .skills .tools h2 {
  font-weight: 400;
}

.skills .language .group, .skills .tools .group {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.skills .language .group .sec, .skills .tools .group .sec {
  font-size: 1.2em;
  padding: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #fff;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.skills .language .group .sec:hover, .skills .tools .group .sec:hover {
  border: 1px solid #f0f0f0;
  background: #e5f0ff;
}

.skills .language .group .sec:hover svg, .skills .language .group .sec:hover img, .skills .tools .group .sec:hover svg, .skills .tools .group .sec:hover img {
  right: 30px;
  opacity: 0.6;
  -webkit-transform: scale(2) translate(0, -60%);
          transform: scale(2) translate(0, -60%);
}

.skills .language .group .sec:hover .libs .lib, .skills .tools .group .sec:hover .libs .lib {
  color: #1f1f1f;
}

.skills .language .group .sec svg, .skills .language .group .sec img, .skills .tools .group .sec svg, .skills .tools .group .sec img {
  position: absolute;
  z-index: 0;
  width: 30px;
  top: 50%;
  right: -4px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  font-size: 2em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.skills .language .group .sec .libs, .skills .tools .group .sec .libs {
  list-style: none;
}

.skills .language .group .sec .libs .lib, .skills .tools .group .sec .libs .lib {
  color: #888;
  padding: 2px 14px;
  font-size: 0.9em;
  position: relative;
}

.skills .language .group .sec .libs .lib::before, .skills .tools .group .sec .libs .lib::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 1px;
  top: 12px;
  left: 2px;
  background: silver;
}

.skills .language .group .sec .libs .lib::after, .skills .tools .group .sec .libs .lib::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 16px;
  top: -4px;
  left: 2px;
  background: silver;
}

.skills .language .group .html svg, .skills .tools .group .html svg {
  color: #E34F26;
}

.skills .language .group .css svg, .skills .tools .group .css svg {
  color: #1572B6;
}

.skills .language .group .js svg, .skills .tools .group .js svg {
  color: #F7DF1E;
}

.skills .language .group .php svg, .skills .tools .group .php svg {
  color: #777BB4;
}

.skills .language .group .figma svg, .skills .tools .group .figma svg {
  color: #F24E1E;
}

.skills .language .group .firebase svg, .skills .tools .group .firebase svg {
  color: #FFCA28;
}

.skills .language .group .analytics svg, .skills .tools .group .analytics svg {
  color: #E37400;
}

.skills .language .group .seo svg, .skills .tools .group .seo svg {
  color: #001427;
}

@media screen and (max-width: 800px) {
  .skills {
    padding: 40px 20px;
  }
}

.contact {
  padding: 40px 0;
  background: #000000;
  color: #fff;
}

.contact .contactgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  width: 60%;
  margin: auto;
  z-index: 2;
}

.contact .contactgrid .formarea {
  margin-top: 20px;
}

.contact .contactgrid .formarea .form {
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.contact .contactgrid .formarea .form .formtitle {
  margin-bottom: 40px;
}

.contact .contactgrid .formarea .form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.contact .contactgrid .formarea .form .form-group label {
  color: #555;
  font-size: 14px;
}

.contact .contactgrid .formarea .form .form-group .text {
  font-family: 'Roboto', sans-serif;
  padding: 8px 12px;
  background: #424242;
  border: none;
  outline: none;
  margin-top: 2px;
  border-radius: 4px;
  color: #fff;
  caret-color: #ff9a00;
}

.contact .contactgrid .formarea .form .form-group .text:hover, .contact .contactgrid .formarea .form .form-group .text:focus, .contact .contactgrid .formarea .form .form-group .text:active {
  -webkit-box-shadow: 0 0 5px #ff9a00;
          box-shadow: 0 0 5px #ff9a00;
}

.contact .contactgrid .formarea .form .form-group .message {
  padding: 8px 12px;
  outline: none;
  background: #424242;
  border: 2px solid #424242;
  color: #fff;
  resize: none;
  border-radius: 4px;
  caret-color: #ff9a00;
}

.contact .contactgrid .formarea .form .form-group .message:hover, .contact .contactgrid .formarea .form .form-group .message:focus, .contact .contactgrid .formarea .form .form-group .message:active {
  -webkit-box-shadow: 0 0 5px #ff9a00;
          box-shadow: 0 0 5px #ff9a00;
}

.contact .contactgrid .formarea .form .submit {
  padding: 8px 32px;
  border: none;
  background: #ff9a00;
  letter-spacing: 1px;
  font-size: 18px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 6px #b46c00;
          box-shadow: 0 6px #b46c00;
  -webkit-transition: 0.12s;
  transition: 0.12s;
}

.contact .contactgrid .formarea .form .submit:hover {
  top: 3px;
  left: 0;
  -webkit-box-shadow: 0 3px #b46c00, 0 5px 10px #b46c00;
          box-shadow: 0 3px #b46c00, 0 5px 10px #b46c00;
}

.contact .contactgrid .formarea .form .submit:active {
  top: 6px;
  -webkit-box-shadow: 0 0 #b46c00, 0 5px 10px #b46c00;
          box-shadow: 0 0 #b46c00, 0 5px 10px #b46c00;
}

.contact .contactgrid .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
}

.contact .contactgrid .details h2 {
  margin-bottom: 20px;
}

.contact .contactgrid .details a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.contact .contactgrid .details a svg {
  color: #ff9a00;
}

.contact .contactgrid .details .jdk {
  margin-top: 40px;
  width: 120px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  background: #000;
  color: #fff;
  letter-spacing: 2px;
  cursor: default;
}

.footer:hover svg {
  color: #ff9a00;
}

.footer svg {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

@media screen and (max-width: 1000px) {
  .contact .contactgrid {
    width: 80%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact .contactgrid .formarea .form {
    padding: 40px;
  }
}

@media screen and (max-width: 600px) {
  .contact .contactgrid {
    width: 100%;
  }
  .contact .contactgrid .formarea .form {
    padding: 20px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
  }
  .contact .contactgrid .details .jdk {
    display: none;
  }
}
/*# sourceMappingURL=index.css.map */