/* SCSS Variables */
$black: #000;
$white: #fff;
$theme: #FFDD33;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background: linear-gradient(to right, #1b1f22, #283138, #1b1f22);
    color: $white;
}

/* Mixins */
@mixin padding($value) {
    padding: $value*8px;    
}

@mixin fontsize($value) {
    font-size: $value*8px;    
}

@mixin flexaligncenter {
    display: flex;
    align-items: center;
}


/* Common Elements*/
.section {
    padding: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
    }
    &:nth-child(even) {
        background: rgb(20,20,20);
    }
}

@media screen and (max-width: 992px) {
    .section {
        padding: 20px;
    }
}

.btn {
    display: inline-block;
    font-size: 0.9em;
    padding: 12px 32px;
    background: $theme;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba($black, 0.9);
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s;
    &:hover {
        background: $white;
    }
    svg {
        vertical-align: middle;
        margin-right: 0.5em;
    }
}

.title {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    @include fontsize(3);
    margin-bottom: 80px;
    &::after {
        content: attr(data-text);
        position: absolute;
        @include fontsize(12);
        color: $white;
        bottom: 0px;
        top: -40px;
        left: 0;
        right: 0;
        opacity: 0.2;
        transition: 0.1s;
    }
    &:hover {
        &::after {
            color: $theme;
        }
    }
}
@media screen and (max-width: 1200px) {
    .title::after {
        content: none;
    }
}

/* Selection placeholder */
::selection {
    background: $white;
    color: $black;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0;
    display: none;
}

/* Add partial files */
@import './partials/cursor';
@import './partials/header';
@import './partials/me';
@import './partials/projects';
@import './partials/skills';
@import './partials/footer';
@import './partials/scrolldown';