@import '../../vendors/variables';

.footer {
    padding: 20px 0;
    text-align: center;
    background: $theme;
    color: $black;
    letter-spacing: 2px;
    cursor: default;
    @supports (scroll-snap-align: start) {
        scroll-snap-align: start;
    }
    svg {
        vertical-align: middle;
    }
}